In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../attacks.csv')
df.head()
# numero de columnas y filas del dataframe original
df.shape

(5992, 24)

In [3]:
# numero total de valores nulos
df.isnull().sum().sum()

23109

In [4]:
# numero de valores nulos por columnas
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
# Ver el numero de valores no nulos por columna
not_null_cols = df.notnull()
not_null_cols.sum()

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [6]:
# Renombrar columnas
df = df.rename(columns={"Unnamed: 22":"Unnamed1"})
df = df.rename(columns={"Unnamed: 23":"Unnamed2"})
# Ver cuantos valores no nulos hay en las columnas Unnamed1 y Unnamed2
unnamed_not_null_1 = df[df.Unnamed1.notnull()]
unnamed_not_null_2 = df[df.Unnamed2.notnull()]
display(unnamed_not_null_1)
display(unnamed_not_null_2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [7]:
# Elimina Unnamed1 y Unnamed 2 por irrelevantes basado en el hecho de que solo tenian 1 o 2 valores no nulos
df = df.drop("Unnamed1", axis=1)
df = df.drop("Unnamed2", axis=1)

In [8]:
df = df.drop("href", axis=1)
df = df.drop("href formula", axis=1)

In [9]:
df = df.drop("pdf", axis=1)

In [10]:
df =df.drop("Investigator or Source", axis=1)

In [11]:
df = df.drop("Case Number", axis=1)

In [12]:
# Columnas irrelevantes
df = df.drop("Case Number.1", axis=1)
df = df.drop("Case Number.2", axis=1)

In [13]:
# Irrelevante para mi hipotesis
df = df.drop("Species ", axis=1)

In [14]:
df = df.drop("Time", axis=1)

In [15]:
df = df.drop("Location", axis=1)

In [16]:
df = df.drop("original order", axis=1)

In [17]:
df = df.drop("Injury", axis=1)

In [18]:
df = df.drop("Name", axis=1)

In [19]:
df = df.drop("Age", axis=1)

In [20]:
df = df.drop("Area", axis=1)

In [21]:
df = df.drop("Year", axis=1)

In [22]:
df = df.drop("Activity", axis=1)

In [23]:
df = df.drop("Country", axis=1)

In [24]:
not_null_cols = df.notnull()
not_null_cols.sum()

Date           5992
Type           5992
Sex            5425
Fatal (Y/N)    5973
dtype: int64

In [25]:
df = df.rename(columns={"Fatal (Y/N)":"Fatal"})

In [26]:
df = df.rename(columns={"Type":"Type of attack"})

In [27]:
fatal_col_nulls = df["Fatal"].isnull().sum()
fatal_col_not_nulls = df["Fatal"].notnull().sum()

print("Fatal total null values", fatal_col_nulls)
print("Fatal total not null values", fatal_col_not_nulls)

Fatal total null values 19
Fatal total not null values 5973

In [28]:
fatal_set = set(df["Fatal"])
print(fatal_set)

{nan, 'n', 'UNKNOWN', '#VALUE!', 'Y', 'F', 'N ', 'N', ' N'}

In [30]:
fatal_series = pd.Series(df["Fatal"])
fatal_series

def strip_spaces(serie):
    
    for i in serie:
        if type(i) == str:
            if i == "n":
                i = "N"
            else:
                return i.strip()

0       N
1       N
2       N
3       N
4       N
       ..
5987    Y
5988    Y
5989    Y
5990    Y
5991    Y
Name: Fatal, Length: 5992, dtype: object