In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../attacks.csv')
df.head()
# numero de columnas y filas del dataframe original
df.shape

(5992, 24)

In [3]:
# numero total de valores nulos
df.isnull().sum().sum()

23109

In [4]:
# numero de valores nulos por columnas
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
# Ver el numero de valores no nulos por columna
not_null_cols = df.notnull()
not_null_cols.sum()

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [6]:
# Renombrar columnas
df = df.rename(columns={"Unnamed: 22":"Unnamed1"})
df = df.rename(columns={"Unnamed: 23":"Unnamed2"})
# Ver cuantos valores no nulos hay en las columnas Unnamed1 y Unnamed2
unnamed_not_null_1 = df[df.Unnamed1.notnull()]
unnamed_not_null_2 = df[df.Unnamed2.notnull()]
display(unnamed_not_null_1)
display(unnamed_not_null_2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [9]:
# Elimina Unnamed1 y Unnamed 2 por irrelevantes basado en el hecho de que solo tenian 1 o 2 valores no nulos
df = df.drop("Unnamed1", axis=1)
df = df.drop("Unnamed2", axis=1)

KeyError: "['Unnamed1'] not found in axis"

In [11]:
df = df.drop("href", axis=1)
df = df.drop("href formula", axis=1)

In [13]:
df = df.drop("pdf", axis=1)

In [15]:
df =df.drop("Investigator or Source", axis=1)

In [32]:
df = df.drop("Case Number", axis=1)

In [33]:
# Columnas irrelevantes
df = df.drop("Case Number.1", axis=1)
df = df.drop("Case Number.2", axis=1)

KeyError: "['Case Number.1'] not found in axis"

In [34]:
# Irrelevante para mi hipotesis
df = df.drop("Species ", axis=1)

KeyError: "['Species '] not found in axis"

In [35]:
df = df.drop("Time", axis=1)

KeyError: "['Time'] not found in axis"

In [37]:
df = df.drop("Location", axis=1)

In [40]:
df = df.drop("original order", axis=1)

In [43]:
df = df.drop("Injury", axis=1)

In [45]:
df = df.drop("Name", axis=1)

In [47]:
df = df.drop("Age", axis=1)

In [49]:
df = df.drop("Area", axis=1)

In [50]:
df

,Date,Year,Type,Country,Activity,Sex,Fatal (Y/N)
0,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
1,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
2,18-Sep-16,2016,Unprovoked,USA,Surfing,M,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Surfing,M,N
...,...,...,...,...,...,...,...
5987,Before 1903,0,Unprovoked,AUSTRALIA,Diving,M,Y
5988,Before 1903,0,Unprovoked,AUSTRALIA,Pearl diving,M,Y
5989,1900-1905,0,Unprovoked,USA,Swimming,M,Y
5990,1883-1889,0,Unprovoked,PANAMA,NaN,M,Y
5991,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Swimming,M,Y