In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../attacks.csv')
df.head()
# numero de columnas y filas del dataframe original
df.shape

(5992, 24)

In [3]:
# numero total de valores nulos
df.isnull().sum().sum()

23109

In [4]:
# numero de valores nulos por columnas
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
# Ver el numero de valores no nulos por columna
not_null_cols = df.notnull()
not_null_cols.sum()

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [6]:
# Renombrar columnas
df = df.rename(columns={"Unnamed: 22":"Unnamed1"})
df = df.rename(columns={"Unnamed: 23":"Unnamed2"})
# Ver cuantos valores no nulos hay en las columnas Unnamed1 y Unnamed2
unnamed_not_null_1 = df[df.Unnamed1.notnull()]
unnamed_not_null_2 = df[df.Unnamed2.notnull()]
display(unnamed_not_null_1)
display(unnamed_not_null_2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [7]:
# Elimina Unnamed1 y Unnamed 2 por irrelevantes basado en el hecho de que solo tenian 1 o 2 valores no nulos
df = df.drop("Unnamed1", axis=1)
df = df.drop("Unnamed2", axis=1)

In [8]:
df = df.drop("href", axis=1)
df = df.drop("href formula", axis=1)

In [9]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ï¿½N, 79ï¿½W",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,ND.0001,ND.0001,2

In [10]:
df =df.drop("Investigator or Source", axis=1)

In [11]:
df = df.drop("Case Number", axis=1)

In [12]:
# Columnas irrelevantes
df = df.drop("Case Number.1", axis=1)
df = df.drop("Case Number.2", axis=1)

In [13]:
df = df.drop("Time", axis=1)

In [14]:
df = df.drop("Location", axis=1)

In [15]:
df = df.drop("original order", axis=1)

In [16]:
df = df.drop("Injury", axis=1)

In [17]:
df = df.drop("Name", axis=1)

In [18]:
df = df.drop("Age", axis=1)

In [19]:
df = df.drop("Area", axis=1)

In [20]:
df = df.drop("Year", axis=1)

In [21]:
df = df.drop("Country", axis=1)

In [22]:
not_null_cols = df.notnull()
not_null_cols.sum()

Date           5992
Type           5992
Activity       5465
Sex            5425
Fatal (Y/N)    5973
Species        3058
pdf            5992
dtype: int64

In [23]:
df = df.rename(columns={"Fatal (Y/N)":"Fatal"})

In [24]:
df = df.rename(columns={"Type":"Type of attack"})
df = df.rename(columns={"Species ":"Species"})

In [25]:
df["Fatal"] = df["Fatal"].astype(str)
fatal_col_nulls = df["Fatal"].isnull().sum()
fatal_col_not_nulls = df["Fatal"].notnull().sum()

print("Fatal total null values:", fatal_col_nulls)
print("Fatal total not null values:", fatal_col_not_nulls)

Fatal total null values: 0
Fatal total not null values: 5992

In [26]:
fatal_set = set(df["Fatal"])
print(fatal_set)

{'N ', 'UNKNOWN', 'n', 'N', 'nan', ' N', 'Y', '#VALUE!', 'F'}

In [27]:
df["Species"].value_counts()

White shark                                                                  161
Shark involvement not confirmed                                               80
Tiger shark                                                                   68
Bull shark                                                                    52
6' shark                                                                      40
                                                                            ...
Tiger shark, 2.5 m                                                             1
small hammerhead shark                                                         1
Thought to involve a mako or grey nurse shark                                  1
Tiger shark, 4.5 m [14'9"]                                                     1
White shark, 4.5 m [14'9"], identity confirmed by witness & tooth pattern      1
Name: Species, Length: 1538, dtype: int64

In [28]:
df = df[df.Species != "Shark involvement not confirmed"]
df["Species"].value_counts()

White shark                                                                  161
Tiger shark                                                                   68
Bull shark                                                                    52
6' shark                                                                      40
4' shark                                                                      39
                                                                            ...
A 2' shark was seen in the area by witnesses                                   1
Tiger shark, 2.5 m                                                             1
small hammerhead shark                                                         1
Thought to involve a mako or grey nurse shark                                  1
White shark, 4.5 m [14'9"], identity confirmed by witness & tooth pattern      1
Name: Species, Length: 1537, dtype: int64

In [29]:
fatal_series = pd.Series(df["Fatal"])
def strip_spaces(serie):
    for i in serie:
        i = i.strip() 
        return i
    
fatal_stripped = fatal_series.apply(strip_spaces)

In [30]:
fatal_stripped_set = set(fatal_stripped)
fatal_stripped_set

{'', '#', 'F', 'N', 'U', 'Y', 'n'}

In [31]:
fatal_stripped.describe()

count     5912
unique       7
top          N
freq      4259
Name: Fatal, dtype: object

In [32]:
df["Fatal"].value_counts()
#df = df[df.Fatal != "F"]

N          4258
Y          1532
UNKNOWN      92
nan          19
 N            7
F             1
#VALUE!       1
n             1
N             1
Name: Fatal, dtype: int64