In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../attacks.csv')
df.head()
# numero de columnas y filas del dataframe original
df.shape

(5992, 24)

In [3]:
# numero total de valores nulos
df.isnull().sum().sum()

23109

In [4]:
# numero de valores nulos por columnas
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [5]:
# Ver el numero de valores no nulos por columna
not_null_cols = df.notnull()
not_null_cols.sum()

Case Number               5992
Date                      5992
Year                      5992
Type                      5992
Country                   5949
Area                      5590
Location                  5496
Activity                  5465
Name                      5792
Sex                       5425
Age                       3311
Injury                    5965
Fatal (Y/N)               5973
Time                      2779
Species                   3058
Investigator or Source    5977
pdf                       5992
href formula              5991
href                      5989
Case Number.1             5992
Case Number.2             5992
original order            5992
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [6]:
# Renombrar columnas
df = df.rename(columns={"Unnamed: 22":"Unnamed1"})
df = df.rename(columns={"Unnamed: 23":"Unnamed2"})
# Ver cuantos valores no nulos hay en las columnas Unnamed1 y Unnamed2
unnamed_not_null_1 = df[df.Unnamed1.notnull()]
unnamed_not_null_2 = df[df.Unnamed2.notnull()]
display(unnamed_not_null_1)
display(unnamed_not_null_2)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed1,Unnamed2
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [7]:
# Elimina Unnamed1 y Unnamed 2 por irrelevantes basado en el hecho de que solo tenian 1 o 2 valores no nulos
df = df.drop("Unnamed1", axis=1)
df = df.drop("Unnamed2", axis=1)

In [8]:
df = df[df.Year > 1642]

In [9]:
df = df.drop("href", axis=1)
df = df.drop("href formula", axis=1)
df = df.drop("pdf", axis=1)

In [10]:
df = df.drop("Date", axis=1)
df = df.drop("Sex ", axis=1)

In [11]:
df =df.drop("Investigator or Source", axis=1)

In [12]:
df = df.drop("Case Number", axis=1)

In [13]:
# Columnas irrelevantes
df = df.drop("Case Number.1", axis=1)
df = df.drop("Case Number.2", axis=1)

In [14]:
df = df.drop("Time", axis=1)

In [15]:
df = df.drop("Location", axis=1)

In [16]:
df = df.drop("original order", axis=1)

In [17]:
df = df.drop("Injury", axis=1)

In [18]:
df = df.drop("Name", axis=1)

In [19]:
df = df.drop("Age", axis=1)

In [20]:
df = df.drop("Area", axis=1)

In [21]:
df = df.drop("Year", axis=1)

In [22]:
df = df.drop("Country", axis=1)

In [23]:
not_null_cols = df.notnull()
not_null_cols.sum()

Type           5855
Activity       5352
Fatal (Y/N)    5836
Species        3023
dtype: int64

In [24]:
df = df.rename(columns={"Fatal (Y/N)":"Fatal"})

In [25]:
df = df.rename(columns={"Species ":"Species"})

In [26]:
df["Fatal"] = df["Fatal"].astype(str)
fatal_col_nulls = df["Fatal"].isnull().sum()
fatal_col_not_nulls = df["Fatal"].notnull().sum()

print("Fatal total null values:", fatal_col_nulls)
print("Fatal total not null values:", fatal_col_not_nulls)

Fatal total null values: 0
Fatal total not null values: 5855

In [27]:
fatal_set = set(df["Fatal"])
print(fatal_set)

{'N', 'UNKNOWN', 'Y', '#VALUE!', ' N', 'F', 'N ', 'n', 'nan'}

In [28]:
df["Species"].value_counts()
species_set = set(df["Species"])
species_set
df["Species"] = df["Species"].astype(str)

In [29]:
df = df[df.Species != "Shark involvement not confirmed"]
df = df[df.Species != "2.6 m [8.5'] shark landed 2 hours later"]
df = df[df.Species != "Remains recovered 5 days later"]
df = df[df.Species != "nan"]
df = df[df.Species != "Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length"]
df = df[df.Species != "NaN"]
df["Species"].value_counts()

White shark                                              160
Tiger shark                                               65
Bull shark                                                48
6' shark                                                  39
4' shark                                                  39
                                                        ...
Tiger shark, 4 m to 4.3 m [13' to 14']                     1
Porbeagle shark, 7'                                        1
White shark, 3m, seen in area and hooked 3 days later      1
Bronze whaler shark, 2 m to 3 m [6.75' to 10']             1
Bull shark, 6' to 7'                                       1
Name: Species, Length: 1518, dtype: int64

In [30]:
df["Fatal"].value_counts()

N          2453
Y           455
UNKNOWN      20
nan           7
 N            5
Name: Fatal, dtype: int64

In [31]:
df = df[df.Fatal != " N"]
df = df[df.Fatal != "N "]
df = df[df.Fatal != "UNKNOWN"]
df = df[df.Fatal != "nan"]
df = df[df.Fatal != "F"]
df = df[df.Fatal != "n"]
df = df[df.Fatal != "#VALUE!"]

In [32]:
df["Fatal"].value_counts()

N    2453
Y     455
Name: Fatal, dtype: int64

In [33]:
df["Fatal"].describe()

count     2908
unique       2
top          N
freq      2453
Name: Fatal, dtype: object

In [34]:
df

,Type,Activity,Fatal,Species
4,Unprovoked,Surfing,N,2 m shark
6,Unprovoked,Wading,N,3' to 4' shark
7,Unprovoked,Swimming,N,"Tiger shark, 10?"
12,Unprovoked,Spearfishing,N,White shark
13,Unprovoked,Surfing,N,"Bull shark, 6'"
...,...,...,...,...
5839,Boat,NaN,Y,White sharks
5841,Invalid,Bathing,N,Description of shark does not ring true
5843,Unprovoked,Fell overboard from a frigate & was swallowed ...,N,"""The fish was harpooned, dried, and presented ..."
5850,Unprovoked,Swimming,Y,"White shark, 1600-lb female"
5853,Unprovoked,Bathing,N,White shark

In [35]:
df["Type"].value_counts()

Unprovoked      2118
Provoked         391
Boat             159
Invalid          159
Boating           52
Sea Disaster      29
Name: Type, dtype: int64

In [36]:
df = df[df.Type != "Sea Disaster"]
df = df[df.Type != "Invalid"]

df["Type"].value_counts()

Unprovoked    2118
Provoked       391
Boat           159
Boating         52
Name: Type, dtype: int64

In [37]:
df

,Type,Activity,Fatal,Species
4,Unprovoked,Surfing,N,2 m shark
6,Unprovoked,Wading,N,3' to 4' shark
7,Unprovoked,Swimming,N,"Tiger shark, 10?"
12,Unprovoked,Spearfishing,N,White shark
13,Unprovoked,Surfing,N,"Bull shark, 6'"
...,...,...,...,...
5836,Unprovoked,NaN,Y,Tiger shark?
5839,Boat,NaN,Y,White sharks
5843,Unprovoked,Fell overboard from a frigate & was swallowed ...,N,"""The fish was harpooned, dried, and presented ..."
5850,Unprovoked,Swimming,Y,"White shark, 1600-lb female"
5853,Unprovoked,Bathing,N,White shark